<!DOCTYPE html>
<html>
<head>
    <title>RESTful Dinos</title>
</head>
<body>
<ul>
    <li><a href='/dinosaurs'>dinosaurs</a></li>
    <li><a href='/prehistoric_creatures'>prehistoric creatures</a></li>
</ul>
<h1>RESTful DinoOoOoOoOoOs</h1>
<%- body %>
</body>
</html>