<form method="POST" action="/prehistoric_creatures">
    <label for="creatureType">Type</label>
    <!--     name corrresponds to key value pair we receive-->
    <input id="creatureType" type="text" name="type">

    <input type="submit">
</form>