<form method="GET" action="/dinosaurs">
    <label for="nameFilter">Filter by name:</label>
    <input id="nameFilter" type="text" name="nameFilter">
    <input type="submit">
</form>

<ul>
    <% myDino.forEach((dino, index) => { %>
        <li><%= dino.name %> is a <%= dino.type %></li>
        <a href="/dinosaurs/edit/<%= index %>">edit</a>
       <form method="POST" action="/dinosaurs/<%= index %>/?_method=DELETE">
          <input type="submit" value="delete">
        </form>
    <% }) %>
</ul>