<form method="POST" action="/dinosaurs">
    <label for="dinosaurType">Type</label>
    <!--     name corrresponds to key value pair we receive-->
    <input id="dinosaurType" type="text" name="type">

    <label for="dinosaurName">Name</label>
    <input id="dinosaurName" type="text" name="name">

    <input type="submit">
</form>